[profile.default]
src = "src"
out = "out"
libs = ["lib"]
evm_version = "cancun"
solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = false
ffi = true
fs_permissions = [{ access = "read-write", path = ".forge-snapshots/" }]

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
